<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <h1>
            Sertix
        </h1>
        <div>
            <a href="/service/addSlot">Add Slot</a>
        </div>
    </header> <br>
    <div>
        <form action="/service/addSlot" method="post">
            <div>
                <label for="serviceName">Service Name</label>
                <input type="text" name="serviceName" id="serviceName">
            </div>
            <div>
                <label for="startTm">start Time</label>
                <input type="time" name="startTm" id="startTm">

                <input type="date" name="startDt" id="startDt">
            </div>
            <div>
                <label for="endTm">End Time</label>
                <input type="time" name="endTm" id="endTm">

                <input type="date" name="endDt" id="endDt">
            </div>
            <div>
                <label for="location">Location</label>
                <input type="text" name="location" id="location">
            </div>
            <div>
                <button>
                    Submit
                </button>
            </div>
        </form>
    </div>
</body>

</html>