<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="margin: 0;">
    <header
        style="height: 90px; background-color: rgb(10, 10, 96); padding: 20px; display: flex; justify-content: space-between;">
        <div>
            <h1><a href="/home" style="text-decoration: none; color: white;">HisBAR</a></h1>
            <a href="/profile" style="text-decoration: none; color: white;">Profile</a>
        </div>
        <div style="padding-top: 30px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
            <a href="/logout"
                style="text-decoration: none; color: white; padding: 0 30px 0 30px; width: 120px; text-align: center;">LOGOUT</a>
        </div>
    </header>
    <div>
        <h1 style="text-align: center;">
            Add Slot Service
        </h1>
    </div>
    <div style="font-family: Arial, Helvetica, sans-serif; justify-self: center; padding-top: 20px ; width: 480px;">
        <form action="/service/addSlot" method="post">
            <div style="padding: 10px; display: flex; justify-self: center;">
                <label for="serviceName" style="font-weight: 700;">Service Name</label><br>
                <input type="text" name="serviceName" id="serviceName" style="width: 200px;">
            </div>
            <div style="padding: 10px;">
                <label for="startTm" style="font-weight: 700; padding: 0 20px;">Start Time</label><br>
                <div style="padding: 0 20px;">
                    <input type="time" name="startTm" id="startTm" style="width: 200px;">

                    <input type="date" name="startDt" id="startDt" style="width: 200px;">
                </div>
            </div>
            <div style="padding: 10px;">
                <label for="endTm" style="font-weight: 700; padding: 0 20px;">End Time</label> <br>
                <div style="padding: 0 20px;">
                    <input type="time" name="endTm" id="endTm" style="width: 200px; ">

                    <input type="date" name="endDt" id="endDt" style="width: 200px;">
                </div>
            </div>
            <div style="padding: 10px; display: flex; justify-self: center;">
                <label for="location" style="font-weight: 700;">Location</label> <br>
                <input type="text" name="location" id="location" style="width: 200px;">
            </div>
            <div style="padding: 10px; display: flex; justify-self: center;">
                <button>
                    Submit
                </button>
            </div>
        </form>
    </div>
</body>

</html>