<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="margin: 0;">
    <header
        style="height: 90px; background-color: rgb(10, 10, 96); padding: 20px; display: flex; justify-content: space-between;">
        <div style="color: white;">
            <h1>Skillora</h1>
        </div>
        <div style="padding-top: 30px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
            <a href="/login"
                style="text-decoration: none; color: white; padding: 0 20px 0 20px; width: 120px; text-align: center;">login</a>
            <a href="/register"
                style="text-decoration: none; color: white; padding: 0 20px 0 20px; width: 120px; text-align: center;">register</a>
        </div>
    </header>
    <img src="https://escapetoblueridge.icnd-cdn.com/userfiles/adobestock_214455352-768x512-620D0568-7303-4B74-868D281CBDB14960.jpg"
        alt="working" width="100%" height="540px" style="object-fit: cover;">
</body>

</html>