<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="margin: 0;">
    <header
        style="height: 90px; background-color: rgb(10, 10, 96); padding: 20px; display: flex; justify-content: space-between;">
        <div>
            <h1><a href="/" style="text-decoration: none; color: white;">HisBAR</a></h1>
        </div>
    </header>
    <div style="display: flex;justify-content: center; padding-top: 30px; color: white;">
        <div style="width: 420px; height: 360px; background-color: rgb(19, 19, 78); border-radius: 12px;">
            <h1 style="text-align: center;">LOGIN</h1>
            <% if (error) { %>
                <% error.split(',').forEach(el=> { %>
                    <div style="text-align: center;">
                        <p style="color: red;">
                            <%= el %>
                        </p>
                    </div>
                    <% }) %>
                        <% } %>
                            <div style="padding: 0 40px 0 40px;">
                                <form action="/login" method="POST">
                                    <div>
                                        <label for="username">Username:</label><br>
                                        <input type="text" id="username" name="username"
                                            style="width:100%; height: 20px;">
                                    </div>
                                    <br>
                                    <div>
                                        <label for="password">Password :</label><br>
                                        <input type="password" id="password" name="password"
                                            style="width:100%; height: 20px;">
                                    </div>
                                    <br>
                                    <div style="display: flex; justify-content: center; padding-top: 30px;">
                                        <button type="submit" style="width: 92px; height: 36px;">Login</button>
                                    </div>
                                </form>
                            </div>
        </div>
    </div>
</body>

</html>